<!DOCTYPE html>
<html>
  <head>
    <title>Mon titre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <meta http-equiv="refresh" content="15">
  </head>
  <body style="margin: 20px;background-color: grey">

    <div class="align-content-center">
        <a href="/" style=" color: inherit;  text-decoration: inherit;"><h1 style="text-align: center">AwareNet <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" width="50" height="50"></h1></a>
    </div>


    <div class="row">
        <div class="col-2 align-items-center justify-content-center align-content-center align-self-center">

        </div>
        <div class="col-8 align-items-center justify-content-center align-content-center align-self-center">
              <img src="../static/img/graphique.jpg" alt="logo" height="100%"/>
        </div>
        <div class="col-2 align-items-center justify-content-center align-content-center align-self-center">

        </div>
    </div>

  </body>

</html>