<!DOCTYPE html>
<html>
  <head>
    <title>Mon titre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
  <body style="margin: 20px;background-color: grey">

    <div class="align-content-center">
        <a href="/" style=" color: inherit;  text-decoration: inherit;"><h1 style="text-align: center">AwareNet <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" width="50" height="50"></h1></a>
    </div>

    <div class="tableau rounded align-self-center" style="background-color: darkgrey; margin-bottom: 20px; height: 400px; overflow: auto">
        <a href="/tableau/" style=" color: inherit;  text-decoration: inherit"><h1 style="text-align: center">Tableau de suspicions d'attaque</h1></a>
      <!-- tableau 4 colonnes (niveau critique, ipdest, ipsource, nb trames) utilisant bootstrap-->
        <table class="table table-striped table-bordered table-hover align-self-center" style="margin: 30px; width: 96%">
            <thead>
            <tr>
                <th>Type d'attaque</th>
                <th>Pourcentage de précision</th>
                <th>IP destination</th>
                <th>IP source</th>
                <th>Nombre de trames</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>DDOS</td>
                <td>75 %</td>
                <td>192.168.2.3</td>
                <td>192.168.2.4</td>
                <td>58 trames</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row justify-content-center gap-5" >

        <div class="col-md-5 rounded" style="background-color: lightgrey; height: 400px">
            <a href="/reseaux/" style=" color: inherit;  text-decoration: inherit;"><h1 style="text-align: center">Réseau</h1></a>
            <iframe src="/carte/" style="width: 100%;height: 80%"></iframe>
        </div>

        <div class="col-md-5 rounded" style="background-color: lightgrey; height: 400px">
            <a href="/graph/" style=" color: inherit;  text-decoration: inherit;"><h1 style="text-align: center" >Requetes/temps</h1></a>

        </div>


    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
